*.apk
*.log
*.db
*.sqlite3
*.pyc
.gradle/*
.idea/*
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
server/cloud/__pycache__/*
server/cloud/migrations/*

